body
{
font-family: Arial;
font-weight:bold;
background-color: #99e6ff;
color :#4d79ff;
}
fieldset
{
    border: none;
    background-color: #94b8b8;
}
label
{
color : #1a1aff;
font-weight: bold;
margin:5px;
}
input, select, textarea, .areas, a
{
   margin:5px;
}
::placeholder
{
    text-align: center;
    color :#7a7a52;
}
legend
{
    font-size: 20px;
    color :white;
    background-color: #3377ff;
}
textarea
{
width: 600px;
height:60px;
}
select, .forms
{
    width: 245px;
    height:30px;
}